<div class="container">
    <h1><%= t(:'committee.title') %></h1>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="https://lh5.googleusercontent.com/-b8oOl2PkuNQ/UiT0t3sMNAI/AAAAAAAACFI/YdJlqUM_sC0/s225-no/images.jpeg" alt="Federico" class="photo img-circle">
                <h3>Federico Yankelevich</h3>
                <p><%= t(:'committee.description.fy') %></p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="https://lh4.googleusercontent.com/-O6NflvMtdXQ/U9ZXrMhC4tI/AAAAAAAAGZY/PuUyZIzmows/s450-no/IMG-20140728-WA0001.jpg" alt="Cristina" class="photo img-circle">
                <h3>Cristina Giotto</h3>
                <p><%= t(:'committee.description.cg') %></p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="https://lh3.googleusercontent.com/-8lH3EqHmq6E/UGl9V4JTT3I/AAAAAAAAADc/1u7WnMgEeMs/s546-no/MarioFusco.jpg" alt="Mario" class="photo img-circle">
                <h3>Mario Fusco</h3>
                <p><%= t(:'committee.description.mf') %></p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://www.gravatar.com/avatar/8537147c9e385db8f7c226b282ee374c.png?s=150" alt="Celestino" class="photo img-circle">
                <h3>Celestino Bellone</h3>
                <p><%= t(:'committee.description.cb') %></p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="pull-right">
        <button class="btn btn-primary"><%= t(:'committee.full_list') %> <i class="fa fa-angle-double-right fa-lg"></i></button>
    </div>
</div>